<!-- src/app/gestor/crear-formulario/crear-formulario.component.html -->
<div class="container">
  <h2>Crear Formulario</h2>

  <form [formGroup]="formularioForm" (ngSubmit)="guardarFormulario()">
    <label>Título:</label>
    <input formControlName="titulo" required>
    <br>

    <label>Descripción:</label>
    <textarea formControlName="descripcion"></textarea>
    <br>

    <div formArrayName="preguntas">
      <div *ngFor="let pregunta of preguntas.controls; let i = index" [formGroupName]="i">
        <h4>Pregunta {{ i + 1 }}</h4>
        <input formControlName="texto" placeholder="Texto de la pregunta">
        <select formControlName="tipo">
          <option *ngFor="let tipo of tiposDePregunta" [value]="tipo">{{ tipo }}</option>
        </select>

        <div formArrayName="opciones" *ngIf="['opciones_multiple', 'opcion_unica'].includes(pregunta.get('tipo')?.value)">
          <div *ngFor="let opcion of getOpciones(i).controls; let j = index">
            <input [formControlName]="j" placeholder="Opción">
            <button type="button" (click)="eliminarOpcion(i, j)">Eliminar opción</button>
          </div>
          <button type="button" (click)="agregarOpcion(i)">Agregar opción</button>
        </div>

        <button type="button" (click)="eliminarPregunta(i)">Eliminar pregunta</button>
        <hr>
      </div>
    </div>

    <button type="button" (click)="agregarPregunta()">Agregar Pregunta</button>
    <button type="submit">Guardar Formulario</button>
  </form>
</div>
