<div class="admin-layout">
  <aside class="sidebar">
    <div class="logo-container">
      <img src="assets/logo_ucentral.png" alt="Logo Universidad Central" class="logo" />
      <h1 class="app-title">APP UCENTRAL</h1>
      <div class="menu-dots">•••</div>
    </div>
    
    <nav class="side-menu">
      <ul>
        <li class="menu-item">
          <div class="icon-container">
            <img src="assets/icono-reportes.svg" alt="Reportes" />
          </div>
          <span>Reportes</span>
        </li>
        <li class="menu-item active" style="cursor: pointer;">
          <a [routerLink]="['/admin/usuarios']" style="text-decoration: none; color: inherit;">
            <div class="icon-container">
              <img src="assets/icono-usuarios.svg" alt="Usuarios" />
            </div>
            <span>Gestión Usuarios</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <header class="top-bar">
      <div class="search-container">
        <input type="text" placeholder="Search" />
        <button class="search-icon">
          <i class="search-icon-img">⌕</i>
        </button>
      </div>
      <div class="top-bar-right">
        <button class="notification-button">
          <i class="notification-icon">🔔</i>
        </button>
        <img src="assets/avatar.png" class="avatar" alt="Avatar" />
      </div>
    </header>

    <div class="gestion-container">
      <div class="buttons-container">

        <!-- Crear Usuario -->
        <div class="action-card">
          <button class="action-button" [routerLink]="['/admin/usuarios/crear']">Crear Usuario</button>
          <div class="icon-container user-icon">
            <img src="assets/agregar-usuario.svg" alt="Crear Usuario" />
          </div>
        </div>

        <!-- Actualizar Usuario -->
        <div class="action-card">
          <button class="action-button" [routerLink]="['/admin/usuarios/editar', 0]" (click)="irAEditar($event)">Actualizar Usuario</button>
          <div class="icon-container user-icon">
            <img src="assets/actualizar-usuario.svg" alt="Actualizar Usuario" />
          </div>
        </div>

        <!-- Eliminar Usuario -->
        <div class="action-card">
          <button class="action-button" [routerLink]="['/admin/usuarios/eliminar']">Eliminar Usuario</button>
          <div class="icon-container user-icon">
            <img src="assets/eliminar-usuario.svg" alt="Eliminar Usuario" />
          </div>
        </div>

        <!-- Buscar Usuario -->
        <div class="action-card">
          <button class="action-button" [routerLink]="['/admin/usuarios/buscar']">Buscar Usuario</button>
          <div class="icon-container user-icon">
            <img src="assets/buscar-usuario.svg" alt="Buscar Usuario" />
          </div>
        </div>

      </div>
    </div>
  </main>
</div>